<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>

      <h2>投稿数の前日比・前週比</h2>

      <!-- 投稿数の前日比 -->
      <div class="table_width">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>昨日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @today_book.count %></td>
              <td><%= @yesterday_book.count %></td>
              <% if @yesterday_book.count == 0 %>
                <td>前日の投稿はありません</td>
              <% else %>
                <td>
                  <!-- to_f メソッドは、小数点までの数値を表示してくれる -->
                  <% @the_day_before = @today_book.count / @yesterday_book.count.to_f %>
                  <%= (@the_day_before * 100).round %>%
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- 投稿数の前週日 -->
      <div class="table_width">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>先週の投稿数</th>
              <th>前週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_book.count %></td>
              <td><%= @last_week_book.count %></td>
              <% if @last_week_book.count == 0 %>
                <td>先週の投稿はありません</td>
              <% else %>
                <td>
                  <!-- to_f メソッドは、小数点までの数値を表示してくれる -->
                  <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
                  <%= (@the_week_before * 100).round %>%
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>７日分の投稿数</h2>

      <!-- 過去７日分の投稿の一覧 -->
      <div class="table_width">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>６日前</th>
              <th>５日前</th>
              <th>４日前</th>
              <th>３日前</th>
              <th>２日前</th>
              <th>昨日</th>
              <th>今日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @books.created_6days.count %></td>
              <td><%= @books.created_5days.count %></td>
              <td><%= @books.created_4days.count %></td>
              <td><%= @books.created_3days.count %></td>
              <td><%= @books.created_2days.count %></td>
              <td><%= @yesterday_book.count %></td>
              <td><%= @today_book.count %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- グラフ -->
      <canvas id="myLineChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          $(document).on('turbolinks:load', function() {
            var ctx = document.getElementById("myLineChart");
            var myLineChart = new Chart(ctx, {
              // グラフの種類
              type: 'line',
              // グラフに描画するデータ
              data: {
                labels: ['６日前', '５日前', '４日前', '３日前', '２日前', '１日前', '今日'],
                datasets: [
                  {
                    // グラフに名前をつける
                    label: '投稿した本の数',
                    // データの値
                    data: [<%= @books.created_6days.count %>,
                           <%= @books.created_5days.count %>,
                           <%= @books.created_4days.count %>,
                           <%= @books.created_3days.count %>,
                           <%= @books.created_2days.count %>,
                           <%= @yesterday_book.count %>,
                           <%= @today_book.count %>
                    ],
                    // 線の色
                    borderColor: "rgba(0,0,255,1)",
                    // 線の下の塗りつぶしの色
                    backgroundColor: "rgba(0,0,0,0)"
                  }
                ],
              },
              options: {
                // グラフのタイトル
                title: {
                  // タイトル表示の許可するかどうか
                  display: true,
                  // タイトル名
                  text: '７日間の投稿数の比較'
                },
                scales: {
                  // y軸
                  yAxes: [{
                    // 目盛線
                    ticks: {
                      // 軸の最大値
                      suggestedMax: 10,
                      // 軸の最小値
                      suggestedMin: 0,
                      // 軸の刻み幅
                      stepSize: 1,
                      // 軸のラベル
                      callback: function(value, index, values){
                        return value
                      }
                    }
                  }]
                },
              }
            });
          });
        </script>

      <!-- 指定した日の記録（投稿数）-->
      <!-- 非同期通信は remote: true か local: false で設定 -->
      <%= form_with url: user_search_path(@user), method: :get, remote: true do |f| %>
        <%= f.date_field :created_at %>  <!-- 年/月/日 が表示される -->
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>

      <div id="search_result">
        <% if @search_book.present? %>
          <%= render "search", search_book: @search_book %>
        <% end %>
      </div>
    </div>
  </div>
</div>